DJANGO_SETTINGS_MODULE=config.settings.local
SECRET_KEY=replace-me
DATABASE_URL=postgresql://geoaudio:geoaudio@localhost:5432/geoaudio
GOOGLE_CLIENT_ID=
ALLOWED_HOSTS=localhost,127.0.0.1

DJANGO_STORAGE_BACKEND=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_CUSTOM_DOMAIN=
